* {
    /* outline: 2px solid coral; */
    /* background-color: #b3cde0; */
}

body {
    background-color: #b3cde0;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #98bad5;
    font-size: 35px;
    color: #454441;
    text-align: center;
    padding: 15px;
}

.body {
    /* outline: 2px solid coral; */
    min-width: 360px;
    max-width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.body * {
    /* outline: 2px solid yellow; */
    display: flex;
    flex: 1 0 0;
}

.computer-div * ,
.player-div *,
.choices-div{
    /* outline: 2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score,
.leftspace{
    flex: .5 0 0;
    font-size: 30px;
}

.display {
    flex: 1 0 0;
}

.cards {
    flex: 0 0 auto;
    width: 90px;
    height: 130px;
}

.declaration-div {
    /* outline: 2px solid yellow; */
    flex: .25 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
}

.choices-div {
    gap: 1rem;
}

img:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 15px yellow;
}

.play-again {
    padding: 5px 10px;
    font-weight: 800;
    background-color: beige;
    color: #454441;
}